body{
    margin: 0%;
    padding: 0%;
    background: lightgray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
img {
    border-radius: 50%;
    margin-left: 20px;
    border: 2px solid black;
}

h1{
    margin: 0;
    font-weight: 400;
}
h2{
    margin: 0;
    font-weight: 400;
    display: inline;
}
.box{
    background: white;
    width: 60rem;
    padding: 3rem;
    margin: 1rem auto;
    /*border radius to add curved/smooth edges on margin*/
    border-radius: 0.5rem;
}
.header{
    background-color:white;
    padding: 1%;
    border-radius: 10px;
    display: grid;
    /*split header into 3 columns, allocating 40% of width to left, and 60% of width to right*/
    grid-template-columns: 25% 35% 40%;

}
.header-left{
    display: grid;
    justify-items: left;
    align-items: center;
    font-size: 2rem;
    line-height: 20px;
}
.emtitle{
    /*reduce size of subtitle "engineer"*/
    font-size: 1rem;
    color: red;
    font-weight: 200;
}
.first{
    font-size: 50px;
    font-weight: 400;
    margin: 0%;
}
.last{
    font-size: 50px;
    font-weight: 400;
    margin: 0%;
}
.header-right{
/*divide into grid and occupy 100% of 60% allocation, shift line items to right with justidy-end*/
    width: 100%;
    display: grid;
    justify-items: end;
}
.header-right p {
    display: inline;
}
/*add grey background to all headers in index.html via class "grey"*/
.grey{
    background-color: grey;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
